* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.wrapper {
  width: 80%;
  max-width: 1450px;
  margin: auto;
}

.dp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dp-flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-subline {
  position: relative;
  height: 1px;
  padding: 0;
  background: #f2f3f8;
  border: none;
  margin: 15px auto;
}

.text-subline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background: #133157;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  text-align: center;
}

.banner h2 {
  color: black;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.menu {
  padding: 30px 0px;
}

.menu i {
  display: none;
}

nav img {
  display: none;
}

nav a {
  display: block;
  padding: 0px 20px;
  color: #837d87;
  font-size: 1.2rem;
  font-weight: 400;
}

nav a:hover {
  color: #2b272f;
}

nav li:last-child a {
  border: 1px solid #000;
  padding: 5px 25px;
  margin-left: 15px;
  display: inline-block;
}

nav li:last-child:hover a {
  color: #fff;
  background: #2b272f;
}

nav ul {
  margin-bottom: 0px;
}

.contacto {
  padding: 80px 0px;
  color: #2B2C2F;
}

.contacto .form {
  padding-right: 5%;
}

.contacto .form-control {
  padding: 1.5rem 1rem;
}

.contacto .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1330578f;
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem #007bff00;
          box-shadow: 0 0 0 .2rem #007bff00;
  -webkit-transition: border-color .5s ease-in-out;
  transition: border-color .5s ease-in-out;
}

.contacto .btn {
  padding: .475rem 1.5rem;
  font-weight: bold;
  border: none;
  background: #133157;
}

.contacto .btn:focus {
  -webkit-box-shadow: 0 0 0 .2rem #00000000 !important;
          box-shadow: 0 0 0 .2rem #00000000 !important;
}

.contacto label {
  margin-left: 4px;
}

.contacto i {
  margin-right: 15px;
  font-size: 20px;
  margin-top: 3px;
  color: #133057e1;
}

.contacto .title-info h3 {
  font-size: 22px;
}

.contacto .content-info a {
  color: #000;
}

.contacto .txt-info {
  margin-top: 20px;
}

.map {
  height: 350px;
}

.banner {
  background-image: url(../media/1.jpg);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
  .form {
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 767px) {
  .contacto .dp-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .menu {
    display: block;
    padding: 20px 0px;
    overflow: hidden;
  }
  .menu i {
    display: block;
    padding: 4px;
    font-size: 18px;
  }
  .mostrar {
    right: 0%;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    background: #133157;
  }
  nav {
    position: absolute;
    z-index: 1;
    top: 69px;
    width: 100%;
    right: 100%;
    height: 50vh;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }
  nav img {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav a {
    margin-top: 40px;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  nav ul li:last-child {
    width: 90%;
  }
  nav li:last-child a {
    border: #fff 1px solid;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    padding: 15px 0px;
  }
}

@media screen and (max-width: 575px) {
  .contacto .btn {
    width: 100%;
  }
}
/*# sourceMappingURL=css.css.map */