@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
  .form {
    padding-right: 0px !important;
  }

  .menu {
    img {
      width: 130px;
      padding: 10px 0px;
    }
  }
  nav a {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    margin-top: 50px;
    .content-info {
      margin: 15px 0px;
    }
    .mt3 {
      margin-top: 0.9rem;
    }
  }

  footer {
    .mtp {
      margin: 15px auto;
    }
  }

  .marcas {
    p {
      font-size: 15px;
    }
    .title {
      h3 {
        font-size: 32px;
      }
    }

    .col-sm-4 {
      width: 50%;
      text-align: center;
      img {
        width: 70%;
      }
    }
  }

  .empleo {
    img {
      margin-top: 30px;
    }

    p {
      font-size: 16px;
    }

    h3 {
      font-size: 28px;
    }
  }

  .txt-mb {
    margin-top: 30px !important;
  }

  .txt-mb-1 {
    margin-top: 0px !important;
  }

  .servicos-1 .title-1 h3 {
    font-size: 30px;
  }

  .text-1 h3 {
    font-size: 28px;
  }

  .productos-1 .wrapper .title2 h3 {
    font-size: 28px;
  }

  .productos-1 h3 {
    font-size: 22px;
  }

  .marcas .title h3 {
    font-size: 28px;
  }

  .por-que-elegirnos .wrapper .title h3,
  .por-que-elegirnos .wrapper p h3 {
    font-size: 28px;
  }

  .text-1 {
    padding: 0px;
  }
  .razones {
    margin-top: 50px;
    h3 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 800px) {

  .menu {
    display: block;
    padding: 0px 0px;
    overflow: hidden;
  }
  .menu i {
    display: block;
    padding: 4px;
    font-size: 28px;
    color: #133157;
  }
  .mostrar {
    right: 0%;
    transition: all 0.8s ease-in-out;
    background: #133157;
  }
  nav {
    position: absolute;
    z-index: 999999;
    top: 95px;
    width: 100%;
    right: 100%;
    height: 100vh;
    transition: all 0.8s ease-in-out;
  }

  nav img {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  nav a {
    color: #fff;
    position: relative;
    z-index: 1;
    width: 100%;
 
  }

  .valores {
    .wrapper {
      align-items: stretch;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .valor {
      width: 500px;
      margin-top: 30px;
      p {
        text-align: center;
      }
    }
  }

  .productos-1 {
    .contenido {
      display: block;

      .img {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        margin-right: 0px;
      }
    }

    a {
      display: block;
    }
  }

  .text-1 {
    img {
      width: 100%;
    }
    h3 {
      padding: 20px 0px;
    }
  }
  .col-md-9,
  .col-md-3 {
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .contacto {
    padding-bottom: 40px;
    .btn {
      width: 100%;
    }
  }

  .info {
    margin-top: 40px;
    .mt3 {
      margin-top: 0rem;
    }
  }

  .info .content-info {
    margin: 0px 0px;
  }

  .marcas {
    .col-sm-4 {
      img {
        width: 90%;
        margin-bottom: 15px;
      }
    }
  }

  .empleo {
    a {
      text-align: center;
      display: block;
    }
  }

  .productos-1 {
    a {
      width: 100%;
      text-align: center;
    }
  }

  .fbm {
    font-size: 32px !important;
  }

    .contacto {
    padding: 40px 0px;

}
 .banner h2 {
 
  font-size: 38px;
 
}

  .banner {

  padding: 60px 0;

}
}
