@media screen and ( max-width: 1000px){

    .wrapper{
        width: 90%;
    }
         .form{
        padding-right: 0px !important;
        }

}

@media screen and ( max-width: 767px){

    .info{
        margin-top: 50px;
        .content-info{
            margin: 15px 0px
            }
                .mt3{
                    margin-top: .90rem;
                    }
        }

  .menu {
    display: block;
    padding: 20px 0px;
    overflow: hidden;
  }
  .menu i {
    display: block;
    padding: 4px;
    font-size: 18px;  
  }
  .mostrar {
    right: 0%;
     transition: all .8s ease-in-out;
    background: #133157;
  }
  nav {

    position: absolute;
    z-index: 1;
    top: 69px;
    width: 100%;
    right: 100%;
    height: 50vh;
    transition: all .8s ease-in-out;
  }
  nav img {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  nav a {
    margin-top: 40px;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  nav ul li:last-child {
    width: 90%;
  }
  nav li:last-child a {
    border: #fff 1px solid;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    padding: 15px 0px;
  }
      footer{
          .mtp{
              margin: 15px auto;
              }
          }

               .marcas {
                .col-sm-4{
                    width: 50%;
                    text-align: center;
                     img{
                            width: 70%;
                            }
                    }

                       
                }

}

@media screen and ( max-width: 575px){

    .contacto {
        padding-bottom: 40px;
           .btn {
        width: 100%;
    }
        }
        
     

           .info{
               margin-top: 40px;
                .mt3{
                    margin-top: 0rem;
                    }
        }

          .info .content-info {
    margin: 0px 0px;
}

            .marcas {
                .col-sm-4{
        
                     img{
                            width: 80%;
                            }
                    }

                       
                }

}